<!DOCTYPE html>

<html>

<head>

<title>Nova Module</title>

<link rel="stylesheet" href="style.css">

</head>


<body>


<header>

<h1 id="moduleName">
Nova Module
</h1>

<p id="description"></p>


<a href="../index.html">
🏠 Back to Nova
</a>

</header>



<section>


<h2>📦 Inventory</h2>


<input 
id="itemInput"
placeholder="Add item">


<button onclick="addItem()">
Add
</button>


<ul id="items">

</ul>


</section>



<section>


<h2>📝 Notes</h2>


<textarea 
id="noteInput"
placeholder="Add note">
</textarea>


<button onclick="addNote()">
Save Note
</button>


<ul id="notes">

</ul>


</section>




<script src="script.js"></script>


</body>

</html>
